<div>
    <h1 class="fs-3">Language & religion</h1>
    <div class="col-3 mb-2">
        <label class="form-label" for="language">Langauge</label>
        <select class="form-select" style="background-color:#AEA9A4;" aria-label="Default select example">
            <option selected >English</option>
            <option value1>Italiano</option>
            <option value2>Francias</option>
        </select>
    </div>
    <div class="col-3">
        <label class="form-=label" for="timezone">Timezone</label>
        <select class="form-select" style="background-color:#AEA9A4;" aria-label="Default select example">
            <option></option>
        </select>
    </div>
</div>