
<div class="container-fluid">
    <h1 class="fs-3">Working status</h1>
    <span>Let everyone know your status</span>
    <div class="form-check mt-2">
        <input class="form-check-input" type="radio" id="inthe-office" name="option" value="option1">
        <lable class="form-check-label" for="inthe-office">In the office</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="outof-office" name="option" value="option2">
        <label class="form-check-label" for="outof-office">Out of office</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="working-home" name="option" value="option3">
        <label class="form-check-label" for="working-home">Working home</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="out-sick" name="option" value="option4">
        <label class="form-check-label" for="out-sick">Out sick</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" id="on-break" name="option" value="option5">
        <label class="form-check-label" for="on-break">On break</label>
    </div>
</div>