{%extends 'main.html' %}
{% block content %}
<div>
    <div class="row">
        <div class="col-md-3 side-bar">
            {% include 'taskmng/sidebar.html' %}
            
        </div>
        <div class="rounded  col-md-9" style="background-color:#00e8fc";>
            <div>
            <button class="btn mt-2 bg-secondary fw-bold dropdown-toggle" data-bs-toggle="collapse" type="button" data-bs-target="#projectlist" aria-controls="projectlist"aria-expanded="True">Recent Projects</button>
            </div>
            <div class="mt-2 " id="projectlist">
                <div class=" row container-fluid ">
                    {% for project in projects %}
                    <div class="col-md-3 rounded m-2">
                        <div class="card" style="width:18rem; background-color:#e6b157">
                            <h1 class="rounded fs-3 container-fluid">
                                <i class="fa-solid fa-diagram-project"></i>
                                <a class="card-link link-underline link-underline-opacity-0 text-capitalize" href="{%url 'home' project.id%}" style="color:black">{{project.projectname}}</a>
                                <button class="btn ms-auto"><a class="link-underline link-underline-opacity-0 fw-bold" style="color:white" href="{% url 'deleteproject' project.id%}">delete</a></button>
                            </h1>
                            <div class="card-body" style="background-color:#b1b2b5">
                                <p>{{project.description}}</p>
                            </div>
                            <small>Created  {{project.created|timesince}}</small>
                        </div>
                    </div>
                    {%endfor%}
                    <h1 class="fs-5">Invited projects</h1>
                    {% for inv_project in inv_projects %}
                    <div class="col-md-3 rounded m-2">
                        <div class="card" style="width:18rem; background-color:#e6b157">
                            <h1 class="rounded fs-3 container-fluid">
                                <i class="fa-solid fa-diagram-project"></i>
                                <a class="card-link link-underline link-underline-opacity-0 text-capitalize" href="{%url 'home' inv_project.id%}" style="color:black">{{inv_project.projectname}}</a>
                                <button class="btn ms-auto"><a class="link-underline link-underline-opacity-0 fw-bold" style="color:white" href="{% url 'deleteproject' inv_project.id%}">delete</a></button>
                            </h1>
                            <div class="card-body" style="background-color:#b1b2b5">
                                <p>{{inv_project.description}}</p>
                            </div>
                            <small>Created  {{inv_project.created|timesince}}</small>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="container-fluid">
                    <button class="btn dropdown-toggle" data-bs-toggle="collapse"  data-bs-target="#projectcreation" aria-controls="projectcreation" aria-expanded="true" type="button"> Add Projects</button>
                    <div class="bg-secondary card" style="width:27rem" id="projectcreation">
                        <form method="POST" action="" class="card-body">
                            {% csrf_token %}
                            
                            <label  class="form-label fw-bold">Project Name</label>
                            {{form.projectname}}
                            <label class="form-label fw-bold">Project Description</label>
                            {{form.description}}
                           
                            <button type="submit" class="btn btn-outline-info">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            <button class="btn bg-secondary fw-bold dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#updateFeed" aria-expanded="True" aria-controls="updateFeed">Update Feeds(Inbox)</button>
            <div class="container rounded col-md-9" id="updateFeed" style="background-color:#2CBCBF">
                <ul class="list-group list-group ">
                    {% for notification in notifications%}
                    <li class="list-group-item">
                        <div class="d-flex">
                            <h1 class="fs-5 me-auto"> From:@{{notification.sender.username}}</h1>
                            <button class="btn btn-outline-danger"><a href="{% url 'delete_messages' notification.id %}" class="link-underline link-underline-opacity-0" style="color:black">delete</a></button>
                        </div>
                        <p>{{notification}}</p>
                        {{notification.invitation}}
                        <div class="d-flex">
                            <small class="me-auto">{{notification.created|timesince}}</small>
                            {%if notification.invitation%}                          
                            <button class="btn btn-outline-info"><a href="{% url 'accept_invite' notification.invitation.token%}">Accept invite</a></button>
                            {% endif%}
                           
                                                  
                        </div>
                    </li>
                    {% endfor%}
                </ul>
            </div>
        <div>
    </div>
<div>
{% endblock%}